.disk {
  background-color: #040504;
  border-radius: 50%;
  box-shadow: 1px 1px 10px #000;
  display: inline-block;
  height: 400px;
  margin: 50px 50px 0;
  overflow: hidden;
  position: relative;
  width: 400px;
}

.disk__light,
.disk__light-alt {
  animation: reflection 20s infinite ease-in-out;
  border-radius: 50%;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 5;
}

.disk__light {
  background-image: linear-gradient(top, transparent, rgba(255,255,255,0.3), transparent);
}

.disk__light-alt {
  background-image: linear-gradient(-160deg, transparent 40%, rgba(255,255,255,0.1) 50%, transparent 60%);
}

.disk__macaron {
  background: #000;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  height: 33.33%;
  left: 50%;
  margin: -16% 0 0 -16%;
  overflow: hidden;
  position: absolute;
  top: 50%;
  width: 33.33%;
  z-index: 10;
}

.disk__macaron:after {
  background: white;
  border-radius: 50%;
  box-shadow: inset 0 0 2px #000;
  content: '';
  display: block;
  height: 8%;
  left: 50%;
  margin: -4% 0 0 -4%;
  position: absolute;
  top: 50%;
  width: 8%;
  z-index: 6;
}

.disk__grooves {
  background-image: radial-gradient(center center, circle closest-side, transparent 43%, transparent 53%,
    #000 54%, transparent 54%, transparent 64%,
    #000 65%, transparent 65%, transparent 75%,
    #000 76%, transparent 76%, transparent 86%,
    #000 87%, transparent 87%, transparent 97%,
    #000 98%, transparent 98% );
  background-image: -webkit-radial-gradient(center center, circle closest-side, transparent 43%, transparent 53%,
    #000 54%, transparent 54%, transparent 64%,
    #000 65%, transparent 65%, transparent 75%,
    #000 76%, transparent 76%, transparent 86%,
    #000 87%, transparent 87%, transparent 97%,
    #000 98%, transparent 98% );
  border-radius: 50%;
  bottom: 2%;
  left: 2%;
  position: absolute;
  right: 2%;
  top: 2%;
  z-index: 5;
}

.disk__grooves,
.disk__macaron {
  animation: rotation 3s infinite linear;
  animation-play-state: paused;
}

.is-playing .disk__grooves,
.is-playing .disk__macaron {
  animation-play-state: running;
}

@keyframes rotation {
  0%   { transform: rotate(0); }
  100% { transform: rotate(360deg); }
}

@keyframes reflection {
  0%   { filter: blur(5px); transform: rotate(0); }
  25%  { transform: rotate(5deg); }
  50%  { filter: blur(10px); transform: rotate(0); }
  75%  { transform: rotate(-5deg); }
  100% { filter: blur(5px); transform: rotate(0); }
}
