.disk {
  background-color: #040504;
  border-radius: 50%;
  box-shadow: 1px 1px 10px #000;
  height: 400px;
  position: relative;
  width: 400px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.disk__light,
.disk__light-alt {
  animation: reflection 20s infinite ease-in-out;
  border-radius: 50%;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 5;
}

.disk__light {
  background-image: linear-gradient(top, transparent, rgba(255,255,255,0.3), transparent);
}

.disk__light-alt {
  background-image: linear-gradient(-160deg, transparent 40%, rgba(255,255,255,0.1) 50%, transparent 60%);
}

.disk__macaron {
  border-radius: 50%;
  height: 33.33%;
  position: relative;
  width: 33.33%;
}

.disk__macaron__picture,
.disk__macaron__play-button {
  background-color: #000;
  border-radius: 50%;
  display: block;
  height: 100%;
  position: absolute;
  width: 100%;
}

.disk__macaron__picture {
  background-size: cover;
  background-position: center;
  z-index: 10;
}

.disk__macaron__play-button {
  color: #fff;
  font-size: 5em;
  line-height: 2em;
  opacity: 0;
  overflow: hidden;
  text-align:center;
  transition: all 2s ease;
  z-index: 11;
}

.disk__macaron__play-button:hover {
  background-color: rgba(0,0,0,.8);
  opacity: 1;
  transition: all 0;
}

.disk__macaron__play-button:active {
  animation: hide 3s;
}

.disk__grooves {
  background-image: radial-gradient(center center, circle closest-side, transparent 43%, transparent 53%,
    #000 54%, transparent 54%, transparent 64%,
    #000 65%, transparent 65%, transparent 75%,
    #000 76%, transparent 76%, transparent 86%,
    #000 87%, transparent 87%, transparent 97%,
    #000 98%, transparent 98% );
  background-image: -webkit-radial-gradient(center center, circle closest-side, transparent 43%, transparent 53%,
    #000 54%, transparent 54%, transparent 64%,
    #000 65%, transparent 65%, transparent 75%,
    #000 76%, transparent 76%, transparent 86%,
    #000 87%, transparent 87%, transparent 97%,
    #000 98%, transparent 98% );
  border-radius: 50%;
  bottom: 2%;
  left: 2%;
  position: absolute;
  right: 2%;
  top: 2%;
  z-index: 5;
}

.disk__grooves,
.disk__macaron__picture {
  animation: rotation 3s infinite linear;
  animation-play-state: paused;
}

.is-playing .disk__grooves,
.is-playing .disk__macaron__picture {
  animation-play-state: running;
}

@keyframes hide {
  0%   {
    background-color: rgba(0,0,0,.8);
    opacity: 1;
  }
  100% {
    background-color: #000;
    opacity: 0;
  }
}

@keyframes reflection {
  0%   { filter: blur(5px); transform: rotate(0); }
  25%  { transform: rotate(5deg); }
  50%  { filter: blur(10px); transform: rotate(0); }
  75%  { transform: rotate(-5deg); }
  100% { filter: blur(5px); transform: rotate(0); }
}

@keyframes rotation {
  0%   { transform: rotate(0); }
  100% { transform: rotate(360deg); }
}
