.pitch-control {
  background: #ccc;
  box-shadow: inset 0 0 10px #bbb;
  width: 20px;
  padding: 10px 0 10px 14px;
  margin-left: 15px;
}

.pitch-control__slider {
  -webkit-appearance: slider-vertical;
  background-color: #bbb;
  height: 200px;
  width: 2px;
}
